body{
	font-family:Geneva, Verdana, sans-serif;
}
.link_capitulo a{
	text-decoration:none;
	color: blue;
	background-color: white;
}
.cabecera_capitulo{
	color: white;
	background-color: red;
	text-align:center;
	padding:3px;
}
.leyenda tr{
	background-color:#06F;
}
.leyenda td{
	color:#000;
	padding-left:4px;
}
.kanji_indice{
	padding-left:10px;
}
.kanji_indice a{
	color:#000;
	text-decoration:none;
	font-size:large;
}
.kanji_row{
	background-color:#9FF;
}
.kanji_cell{
	font-size:xx-large;
	padding:8px;
}
.kunyomi_cell{
	font-size:medium;
	padding:4px;
	padding-left:10px;
}
.onyomi_cell{
	font-size:medium;
	padding:4px;
}
.significado_cell{
	font-size:medium;
	padding:4px;
}
.kanji_links_cell{
	padding:4px;
}
.kanji_links_cell a{
	text-decoration:none;
}
.vocabulario_par{
	background-color:#CCC;
}
.vocabulario_par td{
	padding:2px;
}
.vocabulario_impar{
	background-color:#FFF;
}
.vocabulario_impar td{
	padding:2px;
}
.vocabulario_kanji{
	float:left;
}
.vocabulario_hiragana{
	float:left;
	padding-left:15px;
}
.vocabulario_significado{
	float:left;
	font-weight:bold;
	padding-left:15px;
}